* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-down {
    flex-grow: 1;
}

.header {
    margin-top: 42px;
    margin-bottom: 54px;
}

.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    flex-grow: 1;
}

.top__content {
    background-image: url(../images/illustration.png);
    background-repeat: no-repeat;
    background-position: right 180px;
    padding-bottom: 170px;
    background-size: 48%;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.heading_H1 {
    font-size: 64px;
    color: #1f3f68;
    width: 510px;
    margin-top: 115px;
    margin-bottom: 32px;
    line-height: 74px;
    letter-spacing: 0.04em;
    font-weight: 300;
}

.top__button {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    margin-top: 71px;
    text-decoration: none;
    border: 1px solid #5A98D0;
    transition-duration: 0.3s;
}

.text__top {
    width: 425px;
}

.what-we-do {
    padding-top: 64px;
}

.heading_H2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.box-card {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card {
    max-width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card__img {
    margin-right: 50px;
    margin-bottom: 51px;
}

.card__img2 {
    max-width: 225px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: -20px;
}

.card__link {
    margin-top: 30px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #5A98D0;
}

.heading_H3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;

}

.project {
    padding-top: 64px;
    margin-bottom: 112px;
}

.project__img {
    width: 100%;
}

.project__parent {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.project__item {
    position: relative;
}

.project__item_1 {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;
    position: absolute;
    top: 64px;
    right: 64px;

}

.project__text_left {
    font-size: 28px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;
    position: absolute;
    top: 64px;
    left: 64px;
}

.text_project {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    margin-top: 32px;
    color: #222222;

    margin-bottom: 64px;
}

.heading_H4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    padding: 23px 183px;
    outline: none;
    border: 1px solid #5A98D0;
    transition-duration: 0.3s;

}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}

.footer__heading_H3 {
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__text {
    position: relative;
}

.footer__top_text {
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 495px;
    margin-top: 32px;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 80px;
    background: #5A98D0;
    border: 1px solid #5A98D0;
    transition-duration: 0.5s;
}

hr {
    opacity: 0.4;
}

.footer__info {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    flex-grow: 1;
    flex-basis: 33.3333%;
    margin-right: 70px;
}

.footer-list:first-child::before {
    content: 'A';
    display: block;
    margin-right: 16px;
}

.footer-list:nth-child(2)::before {
    content: 'T.';
    display: block;
    margin-right: 16px;
}

.footer-list:last-child::before {
    content: 'E.';
    display: block;
    margin-right: 16px;
}

.footer__bottom {
    padding-top: 64px;
}

.footer__copy {
    margin-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.container-contact {
    max-width: 940px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    margin-bottom: 96px;
}



.contactUs {

    background-position: center center;
    background-size: cover;
    background-image: url(../images/bg-contacts.jpg);
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.contactUs__heading {
    letter-spacing: 0.04em;
    line-height: 74px;
    color: #FFFFFF;
    margin-top: 16px;
}

.contactUs__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    width: 780px;
}

.contacts__h4 {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.contacts__list a {
    text-decoration: none;
}

.contacts__list a:visited {

    color: #1f3f68;
    opacity: 0.6;
}

.contacts__list {
    list-style-type: none;
    margin-bottom: 40px;
    max-width: 300px;
}

.contact__info {
    margin-top: 135px;
    margin-bottom: 55px;
}

.contacts__list li {
    margin-bottom: 16px;
}

.label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 32px;
}

.input {
    width: 100%;
    height: 70px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 21px 36px;
}

.forms {
    max-width: 540px;
    height: 100%;
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
}

.forms_margin_h4 {
    margin-bottom: 48px;
}

.textarea {
    height: 144px;
    margin-bottom: 70px;
}

.map {
    width: 940px;
    margin: 0 auto 112px;
}

.footer__button:hover,
.top__button:hover,
.button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px rgba(5, 87, 180, 0.8);
}

.card__link:hover,
.contacts__list a:hover {
    color: rgb(0, 0, 0);

}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;

    }

    .contactUs__text {
        width: 67%;
    }

    .contactUs__heading {
        margin-top: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;

    }

    .map {
        margin-bottom: 64px;
        width: 100vw;
    }

    .top__content {
        background-position: right 290px;
    }

    .box-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 47px;
        padding-bottom: 64px;
    }

    .footer__top {
        margin-right: 92px;
        margin-left: 60px;
    }

    .footer__top_text {
        margin-right: 50px;
    }

    .footer__bottom {
        margin-left: 60px;
    }



    .footer__info {
        flex-direction: column;
    }

    .footer-list {
        margin-bottom: 25px;
    }

    .project__text_left {
        top: 32px;
        left: 20px;
    }

    .forms_margin_h4 {
        width: 178px;
    }

    .contact__info {
        margin-top: 0px;
    }
}

@media (max-width: 667px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        margin-bottom: 0;
    }

    .heading_H1 {
        font-size: 32px;
        line-height: 37px;
        width: 85%;
        text-align: center;
        margin-top: 36px;
    }

    .text__top {
        width: 100%;
        text-align: center;
    }

    .top__content {
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .top__button {
        padding: 8px 12px;
        font-size: 12px;
        line-height: 12px;
        margin-top: 32px;
    }

    .box-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading_H3 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .card {
        margin-bottom: 32px;
        max-width: 359px;
    }

    .text_project {
        width: 85%;
        margin-bottom: 82px;
    }

    .project__parent {
        flex-direction: column;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__item_1 {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .project__parent {
        margin-top: 16px;
    }

    .project__text_left {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer__heading_H3 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .footer__top_text {
        text-align: center;
    }

    .footer__top {
        padding-bottom: 40px;
        margin-right: 0px;
        margin-left: 0px;

    }

    .footer__bottom {
        margin-left: 0;
    }

    .footer__button {
        margin-top: 40px;
        padding: 10px 20px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer-list {
        margin-bottom: 25px;
    }

    .footer-list:first-child::before {
        content: '1';
        display: block;
        margin-right: 16px;
    }

    .footer-list:nth-child(2)::before {
        content: '2.';
        display: block;
        margin-right: 16px;
    }

    .footer-list:last-child::before {
        content: '3.';
        display: block;
        margin-right: 16px;
    }

    .footer__copy {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }

    .contactUs {
        margin-top: 30px;
    }

    .heading_H2 {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 32px;
    }

    .contactUs__text {
        width: 90%;
        font-size: 16px;
        line-height: 30px;
    }

    .contact__info {
        margin-top: 0px;
        margin-bottom: 64px;
    }

    .contacts__list {
        margin-bottom: 32px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .forms {
        padding: 36px;
    }

    .forms_margin_h4 {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 28px;
    }

    .button {
        padding: 15px 54px;
    }

    .label {
        font-size: 14px;
        line-height: 30px;
    }

    .input {
        height: 46px;
        padding: 13px 23px;
        margin-top: -5px;
        margin-bottom: 20px;

    }

    .textarea {
        height: 92px;
        padding: 13px 23px;
        margin-bottom: 16px;
        margin-bottom: 46px;
    }

    .map {
        margin-bottom: 32px;
        width: 100vw;
    }

    .project {
        margin-bottom: 64px;
    }
}